{% extends 'superhero_theme.html' %}


{% block main %}
  
<main class="bg-secondary text-dark">
    
  <div class="container">
     
     <div class="text-center">
      
        <a href="/" class="btn btn-dark">Hero List</a>
        <a href="add" class="btn btn-dark">Add</a>
        <a href="{{ object.pk }}/" class="btn btn-dark">Edit</a>
        
        <div class="card m-5">
            <div class="card-header">
                <h2>
                    <a href="{{ hero.pk }}" class="text-danger">Hero: {{ object.name }}</a>
                </h2>
            </div>
            <div class="card-body">
                <p>
                    This page shows my favorite hero.
                </p>
                <p>
                    Secret ID: {{ object.identity }}
                </p>
                
                <pre>IMAGE: {{ object.image }}</pre>
                
                {% if missing %}             
                <p><i class="fa fa-user fa-6x" i/></p>
                {% endif %}
                
                
                <img width="300" src="/static/images/{{ object.name }}.jpg" alt="{{ object.identity }}">
                
            </div>
        </div>

<!--
        <h1 class="text-success">Hero Profile</h1>
        <h2>Hero - {{ object.name }}</h2>
        <p>
            This page shows my favorite hero.
        </p>
        <p>
            Secret ID: {{ object.identity }}
        </p>
        
        <img width="300" src="/static/images/{{ object.name }}.jpg" alt="{{ object.identity }}">
-->
        
    </div>
        
  </div>

</main>


{% endblock main %}