{% extends 'superhero_theme.html' %}


{% block content %}


<h1>Welcome To Superhero News</h1>

    <h2>Superhero Index</h2>
    <ul style="list-style-type:disc;">
        <li>
            <a href="Deadpool">Deadpool Profile</a>
        </li>
        <li>
            <a href="Kaine">Kaine Profile</a>
        </li>
        <li>
            <a href="Storm">Storm Profile</a>
        </li>
        <li>
            <a href="Spider-Man">Spider-Man Profile</a>
        </li>
        <li>
            <a href="Punisher">Punisher Profile</a>
        </li>
        <li>
            <a href="Elektra">Elektra Profile</a>
        </li>
        <li>
            <a href="Iron-Man">Iron-Man</a>
        </li>
    </ul>


{% endblock content %}
